
{% extends 'parqueadero/menu.html' %}
{% load static %}
<html lang="es">

{%load static%}
{% block content %}   


    <div class="about">
      <div class="container">
       <h1>soy estacion damian</h1>

       <div class="estacion">
        <button><a href="estacion-damian/a" style="color: #FFFFFF">Estacion A</a></button>
          <button><a href="estacion-damian/b" style="color: #FFFFFF">Estacion B</a></button>
          <button><a href="estacion-damian/c" style="color: #FFFFFF">Estacion C</a></button>
          <button><a href="estacion-damian/d" style="color: #FFFFFF">Estacion D</a></button>
       </div>
      </div>
    </div>

    
  {% endblock %} 
</html>